.movie {
    transition: all .2s;
    box-shadow: 0 5px 20px rgba($black, .1);
    color: $black;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 30px rgba($black, .2);
    }

    &-container {
        padding: 20px;
        width: 33.33%;
        display: flex;
        flex-direction: column;
    }

    &__poster {
        width: 100%;
        position: relative;
        padding-bottom: 150%;
        background-image: url('../img/discover-movies-missing-poster.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $white;
            opacity: .18;
            z-index: 1;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: $white;
        padding: 20px;
    }

    &__title {
        white-space: nowrap;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }

    &__genre {
        color: $yellow;
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 8px 0 10px;
    }

    &__rating {
        margin-top: 10px;

        &-star {
            color: $yellow;
            font-size: 28px;
        }

        &-num {
            display: inline-block;
            font-size: 28px;
            margin-left: 10px;
        }
    }
}
