.slider {
    user-select: none;
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;

    &:active {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    &-container {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    &__list {
        margin: 0;
        padding: 0;
        display: block;
        list-style: none;

        &::after {
            display: table;
            content: '';
            clear: both;
        }
    }

    &__dots {
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        z-index: 3;
        left: 20px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        button {
            display: block;
            background: transparent;
            outline: none;
            border: 0;
            font-size: 0;
            padding: 10px;
            position: relative;

            &::before {
                transition: all .2s;
                content: '';
                transform: translate(-50%, -50%);
                width: 8px;
                height: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                background: $white;
                border-radius: 50%;
                opacity: .6;
                box-shadow: 1px 1px 10px rgba($black, .7);
            }
        }

        .slick-active button::before {
            opacity: 1;
            width: 12px;
            height: 12px;
        }
    }

    &__slide {
        float: left;
        display: block;
        position: relative;
    }
}
