$mont: 'Montserrat', sans-serif;

$white: #fff;
$light-gray: darken($white, 15%);
$gray: #6b6263;
$gray-light: #bdbdbd;
$charcoal: #252525;
$black: #1e1e1e;

$blue: #212a65;
$orange: #eb7050;
$yellow: #ebc516;
