.home {
    &-movie-grid {
        background: darken($white, 2%);
        padding: 20px;
        border-radius: 4px;
        z-index: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
