*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $mont;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    color: $black;
    background: darken($white, 2%);
}

a {
    text-decoration: none;
    color: $yellow;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &--tuck {
        margin: -70px auto 100px;
    }
}
